@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.navbar {
    background-color: bisque;
}

main {
    background-color: rgb(245, 245, 245);
    padding: 2rem;
    text-align: center;
    height: 100vw;
}

.numero {
    background-color: white;
    padding: 0.3rem;
    border-radius: 1rem;
}



/*INDEX*/



.titulo-principal {
    margin-bottom: 4rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.producto {
    background-color: bisque;
    border-radius: 2.5rem;
}

.producto-imagen {
    margin-top: 2.5rem;
    max-width: 100%;
    border-radius: 1.5rem;

}

.producto-informacion {
    margin: 1rem;
    border-radius: 2.5rem;
}

.producto-precio {
    font-size: x-large;
}

.producto-agregar {
    border: 0;
    padding: 1rem;
    background-color: white;
    border-radius: 1.5rem;
    margin: 1rem;
    cursor: pointer;
}



/*CARRITO*/



.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.carrito-producto {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    padding: .5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 6rem;
    border-radius: 1rem;
}

.carrito-producto p {
    font-size: 1.5rem;
}

.carrito-producto span {
    font-size: 1rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: red;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: rgb(204, 61, 61);
    color: white;
    font-weight: 550;
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    border: 0;
    background-color: bisque;
    color: black;
    font-weight: 550;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-transform: uppercase;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: rgb(48, 148, 48);
    color: white;
    font-weight: 550;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.disable {
    display: none;
}